<div class="auth-main d-flex align-items-center justify-content-center">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header text-center">
        <a href="javascript:">
          <img src="assets/images/AirportLogo.png"  style="width: 15%;" alt="logo" class="mb-4" />
        </a>
      </div>
      <div class="card shadow-lg border-0">
        <div class="card-body p-5">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="mb-0"><b>Login</b></h3>
            <a [routerLink]="['/register']" class="link-primary text-decoration-none">Don't have an account?</a>
          </div>
          <form [formGroup]="form" (ngSubmit)="login()">
            <div class="form-group mb-4">
              <label class="form-label" for="uname">Email*</label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="uname"
                placeholder="Enter your email"
                formControlName="uname"
              />
              <small *ngIf="f['uname'].touched && f['uname'].invalid" class="text-danger">
                A valid email is required.
              </small>
            </div>
            <div class="form-group mb-4">
              <label class="form-label" for="password">Password*</label>
              <input
                type="password"
                class="form-control form-control-lg"
                id="password"
                placeholder="Enter your password"
                formControlName="password"
              />
              <small *ngIf="f['password'].touched && f['password'].invalid" class="text-danger">
                Password is required.
              </small>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">
                Login
              </button>
            </div>
          </form>
          <p *ngIf="errorMessage" class="text-danger mt-4 text-center">{{ errorMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>